@charset "utf-8";

body {
	margin:0;
	padding:0;
	height:100%;
}

#container {
	height:100%;
	width:100%;
	position:relative;
}

/*----------------------------------------------------------------------------------------------------*/

@font-face {
  font-family:"Lato";
  src:url("Fonts/Lato-Regular.ttf") format("ttf");
}

/*----------------------------------------------------------------------------------------------------*/

nav {
	width:100%;
	height:60px;
	position:fixed;
	text-align:center;
	z-index:98;
	overflow:hidden;
	background:#FFF;
	box-shadow: 0 2.25px 4px -2px gray;
}

ul {    
    display:inline-block;
    margin:0 auto;
    padding:0;
    list-style:none;
    text-align:center;
	width:100%;
}

ul li {
    display:block;
	height:60px;
    position:relative;
	float:left;
    text-align:center;
}

ul li a {
    display:block;
	font-size:12px;
	font-weight:600;
    text-decoration:none;
	text-align:center;
	vertical-align:middle;
	margin-left:-80px;
	line-height:60px;
    color:#000;
    white-space:nowrap;
}

ul li a img {
	height:60px;
	width:auto;
	margin:0 auto;
	display:block;
}

ul li:nth-child(-n+3) {
	padding:0px 50px 0px 3.5vw;
	left:5%;
	float:left;
}

ul li:nth-child(4) {
	width:200px;
	height:auto;
	margin:0 auto;
	left:24%;
}

ul li:nth-child(5) {
	padding:0px 3.5vw 0px 0px;
	left:5%;
	float:right;
}

.btnSearch {
	display:block;
	background:url(Images/searchlens.png) no-repeat;
	background-size:contain;
	height:25px;
	width:25px;
	cursor:pointer;
	border:none;
	position:relative;
	top:-57px;
	z-index:1000;
	padding-right:13vw;
	visibility:hidden;
	left:18.5vw;
}

.btnSearchTwo {
	display:block;
	background:url(Images/searchlens.png) no-repeat;
	background-size:contain;
	height:25px;
	width:25px;
	cursor:pointer;
	border:none;
	position:relative;
	top:6px;
	z-index:1000;
	padding-right:305px;
	float:right;
}

.searching {
	margin:0 auto;
    position:relative;
	width:30%;
	height:auto;
	padding-top:40px;
}

.searchingTwo {
	margin:0 auto;
	position:relative;
	width:75%;
	height:5%;
	top:5%;
	margin-top:10px;
}

form:nth-child(2) {
	text-align:center;
	position:relative;
	top:50%;
}

input[type=textTwo] {
	width:100%;
	margin:0 auto;
	background-color:#F0F0F0;
	box-sizing:border-box;
	border:none;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:50px;
	padding-left:20px;
	position:absolute;
	outline:0px;
	font-size:12px;
	font-weight:600;
}

input[type=text] {
	top:22px;
	width:80%;
    box-sizing:border-box;
	vertical-align:middle;
	list-style-type:none;
	background:none;
	border:none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	margin-left:-12.5%;
	padding:0;
	position:absolute;
	z-index:99;
	font-size:12px;
	font-weight:600;
	font-family:serif;
}

input[type=text]:focus {
    width:25vw;
	top:-27px;
	background-color:#F0F0F0;
	border-radius:5px;
	padding:10px 3.5vw 10px 10px;
	position:relative;
	margin-right:13vw;
	right:3vw;
	z-index:100;
	outline:0;
}

input[type=text]:focus + .btnSearch {
	visibility:visible;
	z-index:1000;
}

input[type=text]::placeholder {
	color:#000;
}

input[type=text]:hover {
	cursor:pointer;	
}

/*----------------------------------------------------------------------------------------------------*/

article {
	height:100%;
	width:100%;
	padding:60px 0px 0px 0px;
	position:relative;
}

.index {
	height:100%;
	width:100%;
	background:linear-gradient(#bde7e7 10%, #91d3d4 90%);
}

.index img {
	height:auto;
	width:95%;
	margin:0 auto;
	display:block;
	z-index:10;
}

/*.index img:first-child {
	height:11vw;
	width:auto;
	margin:0 auto;
	display:block;
	left:50%;
	transform:translate(-50%,0);
	position:absolute;
	top:10px;
}*/

.indexcontent {
	margin:0 auto;
	display:block;
}

.indexcontent h1, p {
	padding:30px 0px 0px 0px;
}

.indexcontent h1 {
	position:absolute;
    width:100%;
    height:auto;
    margin:0 auto;
    text-align:center;
    font-size:5.5vw;
    top:4vw;
}

.indexcontent p {
	position:absolute;
	width:50%;
	height:auto;
	left:0;
	right:0;
	word-wrap:break-word;
	text-align:center;
	font-family:"Lato";
	font-size:1.2vw;
	margin:0 auto;
	top:11.5vw;
}

.indexbuttons {
	position:absolute;
	width:100%;
	height:auto;
	margin:0 auto;
	top:20vw;
	text-align:center;
}

.btnTry{
	position:relative;
	margin:0 auto;
	left:-50%;
	transform:translate(0%, 0%);
}

.btncontainer {
	position:relative;
    width:11vw;
    height:2vw;
    margin:0 auto;
    border-color:#000;
    border-radius:4px;
    border-style:solid;
    display:block;
    cursor:pointer;
    top:-1vw;
	display:inline-block;
	margin:0% 1% 0% 1%;
	
}

.btncontainer a {
	text-decoration:none;
    font-size:1vw;
    font-family:"Lato";
    font-weight:600;
    color:#000;
    margin:0 auto;
    top:0.5vw;
    width:100%;
	line-height:100%;
    position:absolute;
    transition:.3s ease-in-out;
	z-index:100;
}

.overlay {
	position:absolute;
    overflow:hidden;
	transition:.3s ease-in-out;
	width:100%;
	height:100%;
}

.btncontainer:hover a {
	color:#fff;
}

.btncontainer:hover .overlay {
	background-color:#000;
}

.terms .policy, h1, h2, h3 {
	width:40%;
	margin:auto;
	font-family:"Lato";
}

.terms .policy, h1 {
	padding:30px;
	font-size:36px;
	font-weight:bold;
}

.terms .policy, h2 {
	padding:10px;
	font-weight:bold;
}

.terms .policy, h3 {
	padding:10px;
	font-size:17px;
	font-weight:100;
}

.contact {
	width:100%;
	height:100%;
	margin:0 auto;
}

.contact ol{
	width:100%;
	height:100%;
  	list-style-type:none;
	margin:0 auto;
	padding:0;
}

.contact ol li{
  display:block;
  border-radius:20px;
  border:1px solid rgba(166,166,166,0.75);
  width:60%;
  height:275px;
  margin:0 auto;
  margin-top:50px;
  margin-bottom:25px;
}

.cirlce {
	border-radius:50%;
	background-color:#FFF;
	width:185px;
	height:185px;
	position:relative;
	top:17.5%;
	left:10%;
	overflow:hidden;
}

.cirlce img {
    display:inline;
    margin:0 auto;
    height:100%;
    width:auto;
}

.contactinfo p{
	position:relative;
	left:12.5%;
	top:-125px;
	width:40%;
	margin:auto;
	font-family:"Lato";
	padding:1px;
	font-size:22px;
	font-weight:bold;
}

.contactinfo p span {
	font-size:17px;
	font-weight:400;
}
/*----------------------------------------------------------------------------------------------------*/

footer {
	height:230px;
	width:100%;
	position:relative;
    background-color:#000;
}

.footerContainer {
	margin:auto;
	position:relative;
	display:block;
	width:85%;
	height:60%;
}

.footerContent {
	margin:auto;
	position:relative;
	width:inherit;
	height:100%;
	text-align:center;
}

.bottom{
	position:relative;
	top:-35px;
}

.bottom p {
	font-size:8px;
	letter-spacing:2.5px;
	color:#868686;
}

.column {
	width:auto;
	height:auto;
	top:-30px;
	display:inline-block;
    padding:1rem;
}

.logo a{
	margin:auto;
	width:180px;
	height:90px;
	top:22px;
	background:url(Images/text.png) center;
	background-size:180px auto;
	display:block;
	position:relative;
}

.social a {
	width:80px;
	height:auto;
	display:block;
	top:-30px;
	padding-left:10px;
	position:relative;
}

.social a:first-child {
	width:20px;
	height:20px;
	background:url(Images/facebook.png) center no-repeat;
	background-size:contain;
	display:inline-block;
}

.social a:last-child {
	width:20px;
	height:20px;
	background:url(Images/instagram.png) center no-repeat;
	background-size:contain;
	display:inline-block;
}

.info a {
	font-size:13px;
	margin:15px;
	text-decoration:none;
	top:-35px;
	color:white;
	letter-spacing:1.25px;
	position:relative;
	
}

.info a:hover {
	color:#868686;
	transition-timing-function:ease-in-out;
	transition: 0.25s;

}

/*----------------------------------------------------------------------------------------------------*/