@charset "utf-8";

body {
	margin:0;
	padding:0;
	height:100%;
}

#container {
	height:100%;
	width:100%;
	position:relative;
}

/*----------------------------------------------------------------------------------------------------*/

header {
	height:100%;
	width:100%;
	position:relative;
}

header img {
	margin:auto;
	height:200px;
	width:auto;
	display:block;
	position:relative;
}

/*----------------------------------------------------------------------------------------------------*/

nav {
    text-align:center;
	width:100%;
	height:40px;
	position:relative;
	border-bottom:1px solid rgba(85,85,85,0.80);
	border-top:1px solid rgba(85,85,85,0.80);
}

ul {    
    display:inline-block;
    margin:0;
    padding:0;
    list-style:none;
    text-align:center;
}

ul li {
    display:block;
	height:40px;
	padding-left:50px;
	padding-right:50px;
    position:relative;
    float:left;
    text-align:center;
}

ul li a {
    display:block;
	font-size:12px;
	font-weight:600;
	font-family:"Times New Roman";
    text-decoration:none;
	text-align:center;
	line-height:40px;
    color:#000;
    white-space:nowrap;
}

.btnSearch {
	display:block;
	background:url(searchlens.png) no-repeat;
	background-size:contain;
	height:25px;
	width:25px;
	cursor:pointer;
	border:none;
	position:absolute;
	top:8px;
	margin-left:130px;
	visibility:hidden;
	z-index:1000;
}

.btnSearchTwo {
	display:block;
	background:url(searchlens.png) no-repeat;
	background-size:contain;
	height:25px;
	width:25px;
	cursor:pointer;
	border:none;
	position:absolute;
	top:6px;
	z-index:1000;
	margin-left:96%;
}

.searching {
	padding-left:25px;
	padding-right:25px;
	padding-top: 40px;
	width:10px;
}

.searchingTwo {
	margin:0 auto;
	position:relative;
	width:75%;
	height:5%;
	top:5%;
}

form:nth-child(2) {
	text-align:center;
	position:relative;
	top:50%;
}

input[type=textTwo] {
	width:100%;
	margin:0 auto;
	background-color:#F0F0F0;
	border-radius:5px;
	border:none;
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
	outline:0px;
}

input[type=text] {
	top:13px;
	width:50%;
    box-sizing:border-box;
	list-style-type:none;
	border:none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	margin-left:-15%;
	padding:0;
	position:absolute;
	z-index:99;
	font-size:12px;
	font-weight:600;
	font-family:"Times New Roman";
}

input[type=text]:focus {
    width:625px;
	top:2.5px;
	background-color:#F0F0F0;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:40px;
	margin-left:-290%;
	position:absolute;
	z-index:100;
	outline:0;
}

input[type=text]:focus + .btnSearch {                 /*FIXA DETTA*/
	visibility:visible;
	z-index:1000;
}

input[type=text]::placeholder {
  color:#000;
}

input[type=text]:hover {
	cursor:pointer;	
}

nav li:not(:last-child):after {
    position: relative;
    top: -32px;
    display: inline-block;
    width:4px;
    height:4px;
    margin-right:-140px;
    content: '';
    border-radius: 4px;
}

li:nth-child(1n):after {
    background-color:#000000;
}

li:nth-child(4):after {
    background-color:#000000;
	top:8px;
	z-index:99;
}

/*----------------------------------------------------------------------------------------------------*/

article {
	height:100%;
	width:100%;
	position:relative;
}

.terms h1, h2, h3 {
	width:40%;
	margin:auto;
	font-family:lato;
}

.terms h1 {
	padding:30px;
	font-size:36px;
	font-weight:bold;
}

.terms h2 {
	padding:10px;
	font-weight:bold;
}

.terms h3 {
	padding:10px;
	font-size:17px;
	font-weight:100;
}

.contact {
	width:100%;
	height:100%;
	margin:0 auto;
}

.contact ol{
	width:100%;
	height:100%;
  	list-style-type:none;
	margin:0 auto;
	padding:0;
}

.contact ol li{
  display:block;
  border-radius:20px;
  border:1px solid rgba(166,166,166,0.75);
  width:60%;
  height:275px;
  margin:0 auto;
  margin-top:50px;
  margin-bottom:25px;
}

.cirlce {
	border-radius:50%;
	background-color:#FFF;
	width:175px;
	height:175px;
	position:relative;
	top:17.5%;
	left:5%;
	overflow:hidden;
}

.cirlce img {
    display:inline;
    margin:0 auto;
    height:100%;
    width:auto;
}

.contactinfo h2, h3{
	position:relative;
	left:10%;
	top:-100px;
}

.contactinfo h3 {
	padding:1px;
}

.contactinfo h3 span {
	font-weight:200;
}




.slideDown { 
	background:#00FF05; 
	display:none;
}
.grabPromo { 
	cursor:pointer; 
}


/*----------------------------------------------------------------------------------------------------*/

footer {
	height:230px;
	width:100%;
	position:relative;
    background-color:#000;
}

.footerContainer {
	margin:auto;
	position:relative;
	display:block;
	width:85%;
	height:60%;
}

.footerContent {
	margin:auto;
	position:relative;
	width:inherit;
	height:100%;
	text-align:center;
}

.bottom{
	position:relative;
	top:-15px;
}

.bottom p {
	font-size:8px;
	letter-spacing:2.5px;
	color:#868686;
}

.column {
	width:auto;
	height:auto;
	top:-30px;
	display:inline-block;
    padding:1rem;
}

.logo a{
	margin:auto;
	width:180px;
	height:90px;
	top:25px;
	background:url(text.png) center;
	background-size:200px auto;
	display:block;
	-webkit-filter: invert(100%);
    filter: invert(100%);
	position:relative;
}

.social a {
	width:80px;
	height:auto;
	display:block;
	top:-30px;
	padding-left:10px;
	position:relative;
}

.social a:first-child {
	width:20px;
	height:20px;
	background:url(facebook.png) center no-repeat;
	background-size:contain;
	display:inline-block;
}

.social a:last-child {
	width:20px;
	height:20px;
	background:url(instagram.png) center no-repeat;
	background-size:contain;
	display:inline-block;
}

.info a {
	font-size:13px;
	margin:15px;
	text-decoration:none;
	top:-35px;
	color:white;
	letter-spacing:1.25px;
	position:relative;
	
}

.info a:hover {
	color:#868686;
	transition-timing-function:ease-in-out;
	transition: 0.25s;

}

/*----------------------------------------------------------------------------------------------------*/